:root{
--White: hsl(0, 0%, 100%);
--Grey: hsl(0, 0%, 20%);
--Dark_Grey: hsl(0, 0%, 12%);
--Off_Black: hsl(0, 0%, 8%);
--Green: hsl(75, 94%, 57%);
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
body{
    font-family: "Inter";
    background-color: var(--Off_Black);
}
.outer_container{
    width: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    flex-direction: column;
    background-color: var(--Dark_Grey);
    padding: 40px;
    
}
img{
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%, -5%);
}
h1{
    text-align: center;
    color: var(--White);
    
}
h2{
    text-align: center;
    color: var(--Green);
    font-size: 19px;
    position: relative;
    bottom: 10px;
}
p{
    color: var(--White);
}
.inner_container{
    height: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    color: var(--White);
    justify-content: space-between;
}
.inner_container div{
    background-color: var(--Grey);
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner_container div:hover{
    background-color: var(--Green);
    color: var(--Off_Black);
}